%global modname  {{modulename}}
%global modname2 {{modulename|lower}}

Summary:	{{summary}}
Name:		python%{python3_pkgversion}-%{modname2}
Version:	{{version}}
Release:	{{release}}
License:	{{license}}
Group:		Development/Libraries
Url:		https://pypi.python.org/pypi/%{modname}
Source0:	%{modname}-%{version}.tar.gz
BuildRoot:	%{_tmppath}/%{name}-%{version}-%{release}-buildroot-%(%{__id_u} -n)
BuildArch:	{{buildarch|default('noarch')}}
{% for req in requires %}{% for limit in req[1] %}Requires:       python%{python3_pkgversion}-{{req[0]}} {{limit}}
{% endfor%}{% endfor%}
BuildRequires:  python%{python3_pkgversion}-devel
BuildRequires:  python%{python3_pkgversion}-setuptools

%description
{{description}}

%prep
%setup -n %{modname}-%{version} -q

%build
%py3_build

%install
%py3_install
bash -c "find '$RPM_BUILDROOT' -name '__pycache__' | while read d; do rm -rf $d; done"

%clean
rm -rf $RPM_BUILD_ROOT

%files
%defattr(-,root,root)
{% for file in buildfilelist %}{{ file }}
{% endfor %}

%changelog
* {{date}} - {{buildername}} <{{buildermail}}>
- Initial build of this spec
* Mon Oct 9 2017 - Sebastiaan Mannem <sebas@mannem.nl>
- Template
