%global modname  {{realmodulename}}
%global modname2 {{modulename}}

Summary:	{{summary}}
Name:		python%{python3_pkgversion}-%{modname2}
Version:	{{version}}
Release:	{{release}}
License:	{{license}}
Group:		Development/Libraries
Url:		https://pypi.python.org/pypi/%{modname}
Source0:	{{sourcepath}}
BuildRoot:	%{_tmppath}/%{name}-%{version}-%{release}-buildroot-%(%{__id_u} -n)
BuildArch:	{{buildarch|default('noarch')}}
{% for req in requires %}{% for limit in req[1] %}Requires:       python%{python3_pkgversion}-{{req[0]|lower}} {{limit}}
{% endfor%}{% endfor%}
{% for req in extra_requires %}Requires:       {{req}}
{% endfor%}
BuildRequires:  python%{python3_pkgversion}-devel
BuildRequires:  python%{python3_pkgversion}-setuptools

%description
{{description}}

%prep
%setup -n %{modname}-%{version} -q

%build
%py3_build

%install
%py3_install

%clean
rm -rf $RPM_BUILD_ROOT

%files
%defattr(-,root,root)
{% for chapter in buildfilelist %}
{% if chapter != '%{_bindir}' %}#{{chapter}}
{% for file in buildfilelist[chapter] %}{{ file }}
{% endfor %}{% endif %}{% endfor %}

{% if '%{_bindir}' in buildfilelist %}%package bin
Requires: python%{python3_pkgversion}-%{modname2} = %{version}
Requires: python%{python3_pkgversion}-setuptools
Summary:  Binaries for {{summary}}

%description bin
{{description}}

%files bin
{% for file in buildfilelist['%{_bindir}'] %}{{ file }}
{% endfor %}
{% endif %}

%changelog
* {{date}} - {{buildername}} <{{buildermail}}>
- Initial build of this spec
* Tue Dec 5 2017 - Sebastiaan Mannem <smannem@bol.com>
- Latest version of Spec template
